_site
.DS_Store
.jekyll
.bundle
.sass-cache
.jekyll-metadata
node_modules
package.json
*.plist
_posts/.Ulysses-favorites.plist
_posts/.Ulysses-Group.plist
_posts/notes-&-settings
_mdwriter.cson
rakefile
scripts/checkupdate.rb
_posts/.markdownlint.json
# jekyll webmention stuff
js/
.jekyll-cache/
_posts/.vscode
.vscode

# random files
ORIGINALTIMECODE
config.codekit3
activitypub.md
count.sh
.ENV
