---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
        <span class="post-meta">
    			<header class="post-header">
        			<time datetime={{ post.date | date: "%Y-%b-%e" }}>{{ post.date | date: "%e %B %Y" }}</time>
                <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        	</header>
    		</span>
      <div class="front_entry">
        {% if post.header %}
        <img src="{{ site.url }}{{site.imageurl}}{{ post.header}}" width="128" align="left" class="post_thumb">
        {% endif  %}

        {{ post.excerpt }}
      </div>

      <p><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Lees verder >></a></p>
    </article>
  {% endfor %}
</div>
