---
layout: default
title: Vol blogdrift!
---
{% assign postsByDay = 
  paginator.posts | group_by_exp:"post", "post.date | date: '%e %B %Y'" %}

<div class="posts">
{% for day in postsByDay %}
<h2>{{ day.name }}</h2>
{% for page in day.items %}
<article class="post h-entry">
  <span class="post-meta">
    <header class="post-header">
      {% case page.title %}
        {% when '' %}
          {% if page.mf-in-reply-to %}
            <h3><a href="{{ site.baseurl }}{{ page.url }}" class="p-name u-url u-uid">{{page.excerpt | strip_html |truncatewords: 4}}</a></h3>
            <span class="in-reply-to">Mijn antwoord op: <a href="{{ page.mf-in-reply-to }}" class="u-syndication">{{ page.mf-in-reply-to }}</a></span>
          {% elsif page.mf-bookmark-of %}
            <h3 class="entry-title"><a href="{{ page.mf-bookmark-of }}" class="p-name u-url u-uid permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i> Ik heb iets gebookmarked</a></h3>
          {% elsif page.mf-like-of %}
          <!-- <p>Ik gaf een <p><i class="fa fa-thumbs-up"></i> aan <a href="{{ page.mf-like-of }}" class="read-more u-syndication p-name u-url u-uid">deze blogpost</a> (<a href="{{ page.mf-like-of }}" class="read-more">{{page.mf-like-of }}</a>)</p> -->
          {% else %}
          <!-- empty title -->
            <h3><a href="{{ site.baseurl }}{{ page.url }}" class="p-name u-url u-uid">{{page.excerpt | strip_html |truncatewords: 4}}</a></h3>
          {% endif %}
        {% else %}
          {% if page.link %}
            <h3 class="entry-title"><a href="{{ site.url }}{{ page.url }}" class="p-name u-url u-uid permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h3>
          {% else %}
            <!-- pretty regular blogpost -->
            <h3><a class="p-name u-url u-uid" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
          {% endif %}
      {% endcase %}
    </header>
  </span>
  <!-- Frontpage entry text -->
  <div class="front_entry p-summary">
    {% for mf-photo in page.mf-photo limit:1 %}
      <div class="image-front">
        <a href="{{ site.baseurl }}{{ page.url }}"><img src="{{ mf-photo }}" class="ig-thumb-front"></a>
      </div>
    {% endfor %}

    {% if page.mf-summary %}
      {{ page.mf-summary }}
    {% elsif page.mf-like-of %}
      <p>Een <i class="fa fa-thumbs-up"></i> aan <a href="{{ page.mf-like-of }}" class="u-like-of p-name u-url u-uid">deze webpagina</a> (<a href="{{ page.mf-like-of }}">{{page.mf-like-of }}</a>)</p>
    {% else %}
      {{ page.excerpt }}
    {% endif %}          

  <!-- Frontpage Read more text -->
    {% if page.link  %}
      <p><a href="{{ page.mf-bookmark-of }}" class="read-more u-syndication"><i class="fa fa-external-link-alt"></i>Originele link</a></p>
    {% elsif page.mf-bookmark-of %}
      <p><a href="{{ page.mf-bookmark-of }}" class="read-more u-syndication"><i class="fa fa-external-link-alt"></i>Originele link</a></p>
    {% elsif page.mf-like-of %}
      <!-- <p><a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Lees verder >></a></p> -->
    {% else %}
      <p><a href="{{ site.baseurl }}{{ page.url }}" class="read-more">Lees verder >></a></p>
    {% endif %}
  </div>
  {% include post/frontpage.html %}
</article>
{% endfor %}
{% endfor %}
</div>