---
layout: default
title: Tags
---
Op Digging the Digital komen allerlei onderwerpen aan bod. Hier vind je een zo volledig mogelijk overzicht gebaseerd op de tags die ik gebruik. 

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      {% if post.title != ''%}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% elsif post.title == '' %}
      <li><a href="{{ post.url }}">{{post.excerpt | strip_html |truncatewords: 4}}</a></li>  
      {% endif%}
    {% endfor %}
  </ul>
{% endfor %}