<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>New Folder</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>New Folder</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>533163248.69754797</real>
				<key>lastModification</key>
				<real>533163248.69754797</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-01-23-Playing-with-Git-again.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46322799</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-04-Dsxyliea.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.463229</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-07-resources.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323001</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-09-PPNL.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323001</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-10-Nederlandse Blogs.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323103</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-11-Gereedschapskist.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323198</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-11-view source.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323103</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-13-Waarom Jekyll.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323299</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Ervaring of leesvaardigheid.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323502</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Give me your GIF.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323502</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Lees dit niet op een scherm.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323597</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Offscreen.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323401</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Too Many Cooks.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46328598</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-14-Verhalen vertellen via de typemachine.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323597</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-15-Blogheld Wim de Bie.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46328402</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-15-Digitale Tijd.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323699</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-15-Stilstaan.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323699</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-17-De hel van wachtwoorden en authenticatie.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.463238</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-21-Daar zijn de blogs.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46328402</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-21-Projectjes aan de zijlijn.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.463238</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-22-blogroll uitleg.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323901</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-03-29-Kantoorhack.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46323901</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-05-Mastodon.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46324003</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-10-Mastodon-deep.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46324003</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-11-Identiteit op Mastodon.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46324003</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-12-Redesign de Mastodon federatie.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46324098</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-13-RemoteFollow.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46327698</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-16-Identiteit op Mastodon Deel 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46328199</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-17-Mastodon problemen.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.463283</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-24-blogjaren.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.463283</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-04-30-Bots.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965014.46328598</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-05-08-Mastodon instanties.md</key>
			<dict>
				<key>lastModification</key>
				<real>515965049.63622099</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-07-09-Digitale-Transformatie.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.593871</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>129</integer>
				</dict>
			</dict>
			<key>2017-09-06-Threads versus posts.md</key>
			<dict>
				<key>lastModification</key>
				<real>529872258.63940799</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2017-09-10-Mastodon embed.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59263599</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>127</integer>
				</dict>
			</dict>
			<key>2017-10-16-Punkrock Publishing.md</key>
			<dict>
				<key>lastModification</key>
				<real>529876955.65878201</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2017-10-22-Office pr0n wint het altijd.md</key>
			<dict>
				<key>lastModification</key>
				<real>530365195.34645098</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>2017-10-23-Numrush columns.md</key>
			<dict>
				<key>lastModification</key>
				<real>530477165.00578803</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2017-10-24-OPML.md</key>
			<dict>
				<key>lastModification</key>
				<real>530570535.24686801</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>2017-10-25-Indieweb.md</key>
			<dict>
				<key>lastModification</key>
				<real>530655589.039114</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2017-10-26-Vertraging.md</key>
			<dict>
				<key>lastModification</key>
				<real>530721599.860147</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2017-11-05-Micropub.md</key>
			<dict>
				<key>lastModification</key>
				<real>531600963.63922203</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-11-12-leesmap week 45.md</key>
			<dict>
				<key>lastModification</key>
				<real>532209897.39112699</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>84</integer>
				</dict>
			</dict>
			<key>2017-11-13-blogdrift.md</key>
			<dict>
				<key>lastModification</key>
				<real>532300763.85960102</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>88</integer>
				</dict>
			</dict>
			<key>2017-11-14-lezenswaardig.md</key>
			<dict>
				<key>lastModification</key>
				<real>532385841.70425999</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>92</integer>
				</dict>
			</dict>
			<key>2017-11-17-POSSE en PESOS.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59675902</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>131</integer>
				</dict>
			</dict>
			<key>2017-11-18-avondroutine.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.60095298</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>134</integer>
				</dict>
			</dict>
			<key>2017-11-19-leesmap week 46.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59333199</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>128</integer>
				</dict>
			</dict>
			<key>2017-11-20-microwoordenboek.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59626299</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>130</integer>
				</dict>
			</dict>
			<key>2017-11-22-Podcast over bloggen.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59887397</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>132</integer>
				</dict>
			</dict>
			<key>2017-11-23-20 jaar weblogs.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.602036</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>135</integer>
				</dict>
			</dict>
			<key>2017-11-25-Jim en Andy.md</key>
			<dict>
				<key>lastModification</key>
				<real>533344189.59968901</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>133</integer>
				</dict>
			</dict>
			<key>2017-11-6-7000.md</key>
			<dict>
				<key>lastModification</key>
				<real>531691457.935054</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>60</integer>
				</dict>
			</dict>
			<key>2017-11-7-blogpraat.md</key>
			<dict>
				<key>lastModification</key>
				<real>531781095.67255199</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>68</integer>
				</dict>
			</dict>
			<key>2017-11-8-mrrobot.md</key>
			<dict>
				<key>lastModification</key>
				<real>531868521.057796</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>74</integer>
				</dict>
			</dict>
			<key>2017-11-9-Numrush Column.md</key>
			<dict>
				<key>lastModification</key>
				<real>531911046.10278302</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>78</integer>
				</dict>
			</dict>
			<key>2017-7-9-Digitale-Transformatie.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>533344468.17218697</real>
				<key>lastModification</key>
				<real>533344468.17218697</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>137</integer>
				</dict>
			</dict>
			<key>2017-9-10-Mastodon embed.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>533344468.14793903</real>
				<key>lastModification</key>
				<real>533344468.14793903</real>
				<key>version</key>
				<dict>
					<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
					<integer>136</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>533079857.113078</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-11-25-Jim en Andy.md</string>
		</array>
		<array>
			<string>2017-11-23-20 jaar weblogs.md</string>
		</array>
		<array>
			<string>2017-11-22-Podcast over bloggen.md</string>
		</array>
		<array>
			<string>2017-11-20-microwoordenboek.md</string>
		</array>
		<array>
			<string>2017-11-17-POSSE en PESOS.md</string>
		</array>
		<array>
			<string>2017-11-14-lezenswaardig.md</string>
		</array>
		<array>
			<string>2017-11-13-blogdrift.md</string>
		</array>
		<array>
			<string>2017-11-12-leesmap week 45.md</string>
		</array>
		<array>
			<string>2017-11-9-Numrush Column.md</string>
		</array>
		<array>
			<string>2017-11-8-mrrobot.md</string>
		</array>
		<array>
			<string>2017-11-7-blogpraat.md</string>
		</array>
		<array>
			<string>2017-11-6-7000.md</string>
		</array>
		<array>
			<string>2017-11-05-Micropub.md</string>
		</array>
		<array>
			<string>2017-10-26-Vertraging.md</string>
		</array>
		<array>
			<string>2017-10-24-OPML.md</string>
		</array>
		<array>
			<string>2017-10-25-Indieweb.md</string>
		</array>
		<array>
			<string>2017-10-23-Numrush columns.md</string>
		</array>
		<array>
			<string>2017-10-22-Office pr0n wint het altijd.md</string>
		</array>
		<array>
			<string>2017-10-16-Punkrock Publishing.md</string>
		</array>
		<array>
			<string>2016-01-23-Playing-with-Git-again.md</string>
		</array>
		<array>
			<string>2016-03-04-Dsxyliea.md</string>
		</array>
		<array>
			<string>2017-05-08-Mastodon instanties.md</string>
		</array>
		<array>
			<string>2016-03-07-resources.md</string>
		</array>
		<array>
			<string>2017-03-09-PPNL.md</string>
		</array>
		<array>
			<string>2017-03-10-Nederlandse Blogs.md</string>
		</array>
		<array>
			<string>2017-03-11-view source.md</string>
		</array>
		<array>
			<string>2017-03-11-Gereedschapskist.md</string>
		</array>
		<array>
			<string>2017-03-13-Waarom Jekyll.md</string>
		</array>
		<array>
			<string>2017-03-14-Offscreen.md</string>
		</array>
		<array>
			<string>2017-03-14-Give me your GIF.md</string>
		</array>
		<array>
			<string>2017-03-14-Ervaring of leesvaardigheid.md</string>
		</array>
		<array>
			<string>2017-03-14-Verhalen vertellen via de typemachine.md</string>
		</array>
		<array>
			<string>2017-03-14-Lees dit niet op een scherm.md</string>
		</array>
		<array>
			<string>2017-03-15-Digitale Tijd.md</string>
		</array>
		<array>
			<string>2017-03-15-Stilstaan.md</string>
		</array>
		<array>
			<string>2017-03-17-De hel van wachtwoorden en authenticatie.md</string>
		</array>
		<array>
			<string>2017-03-21-Projectjes aan de zijlijn.md</string>
		</array>
		<array>
			<string>2017-03-22-blogroll uitleg.md</string>
		</array>
		<array>
			<string>2017-03-29-Kantoorhack.md</string>
		</array>
		<array>
			<string>2017-04-05-Mastodon.md</string>
		</array>
		<array>
			<string>2017-04-10-Mastodon-deep.md</string>
		</array>
		<array>
			<string>2017-04-11-Identiteit op Mastodon.md</string>
		</array>
		<array>
			<string>2017-04-12-Redesign de Mastodon federatie.md</string>
		</array>
		<array>
			<string>2017-04-13-RemoteFollow.md</string>
		</array>
		<array>
			<string>2017-04-16-Identiteit op Mastodon Deel 2.md</string>
		</array>
		<array>
			<string>2017-04-24-blogjaren.md</string>
		</array>
		<array>
			<string>2017-04-17-Mastodon problemen.md</string>
		</array>
		<array>
			<string>2017-03-21-Daar zijn de blogs.md</string>
		</array>
		<array>
			<string>2017-03-15-Blogheld Wim de Bie.md</string>
		</array>
		<array>
			<string>2017-03-14-Too Many Cooks.md</string>
		</array>
		<array>
			<string>2017-04-30-Bots.md</string>
		</array>
		<array>
			<string>2017-7-9-Digitale-Transformatie.md</string>
		</array>
		<array>
			<string>2017-09-06-Threads versus posts.md</string>
		</array>
		<array>
			<string>2017-9-10-Mastodon embed.md</string>
		</array>
		<array>
			<string>2017-09-10-Mastodon embed.md</string>
		</array>
		<array>
			<string>2017-07-09-Digitale-Transformatie.md</string>
		</array>
		<array>
			<string>2017-11-18-avondroutine.md</string>
		</array>
		<array>
			<string>2017-11-19-leesmap week 46.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
			<integer>137</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>f037341e71de1e50cb7f754747091d3ccf733e3d6dc5b147261ff9afb960dd7c</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
