<!DOCTYPE html>
<html>
  <head>
    <title>
      {% case page.title %}
        {% when '' %}
          {{content | strip_html |truncatewords: 4}}
        {% else %}
          {% if page.mf-like-of %}
            {{ page.mf-like-of }}
          {% else %}
            {{ page.title }}
          {% endif %}
      {% endcase %}
      • {{ site.name }}
    </title>
    {% include meta.html %}
    {% include css.html %}
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <a href="{{ site.baseurl }}/" class="site-name">{{ site.name }}</a>
            <p class="site-description">{{ site.description }}</p>
          </div>
         <nav>
            <a href="{{ site.baseurl }}/about">/About</a>
            <a href="{{ site.baseurl }}/start">/Start</a>
            <a href="{{ site.baseurl }}/privacy">/Privacy</a>
            <a href="https://me.frankmeeuwsen.xyz/@frank" rel="me" />/Mastodon</a>
          </nav>
        </header>
      </div>
      <span class="microformat" style="display: none">
        {% include /post/microformat.html %}
      </span>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

{% if paginator.posts %}
    <!-- Pagination links -->
      <div class="pagination_s">
        <span>
          {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class=""><p class="switch">►</p></a>
          {% else %}
          <a href="" class="pagination-inactive"><p class="switch pagination-inactive">►</p></a>
          {% endif %}
        </span>
      {% if paginator.next_page %}
      <span>
        <a href="{{ paginator.next_page_path }}" class=""><p>►</p></a>
        {% else %}
        <a href="{{ paginator.next_page_path }}" class=""><p>►</p></a>
        {% endif %}
      </span>
      </div>
{% endif %}

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
          <p>
          <a href="https://xn--sr8hvo.ws/🇧🇯/previous">←</a>
            Yeah boy! An IndieWeb Webring!
          <a href="https://xn--sr8hvo.ws/🇧🇯/next">→</a>
        </p>
        <p class="small">
          Site created and maintained by <a href="http://diggingthedigital.com/" rel="author">Frank Meeuwsen</a>
        </p>
        <p class="small">
          Everything on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Source code is available on <a href="https://gitlab.com/frankmeeuwsen/DTD-Blog">Gitlab</a>
        </p>
        <p>
          <a href="http://www.kopimi.com/kopimi/"><img src="/images/k.png" width="22px" height="23px" alt="kopimi" /></a>
        </p>
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <a href="https://brid.gy/publish/twitter"></a>
  </body>
</html>
