---
layout: default
---

<article class="post h-entry">
    {% case page.title %}
    {% when '' %}
      <h1 class="p-name"><a href="{{ site.baseurl }}{{ page.url }}">{{content | strip_html |truncatewords: 4}}</a></h1>
    {% else %}
    {% if page.link %}
      <h1 class="entry-title p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h1>
      {% elsif page.mf-bookmark-of%}
      <h1 class="entry-title p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.mf-bookmark-of }}">{{ page.title }}</a></h1>
      {% elsif page.mf-like-of %}
      <p>⭐ <a href="{{ page.mf-like-of }}" class="read-more u-syndication">{{ page.mf-like-of }}</a></p>
      {% else %}
      <h1 class="entry-title p-name"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
    {% endif %}
  {% endcase %}
  <div class="entry e-content">
    {% for mf-photo in page.mf-photo limit:1 %}
        <img src="{{ mf-photo }}">
    {% endfor %}
    {{ content }}

    {% if page.mf-like-of %}
    <p>⭐ <a href="{{ page.mf-like-of }}" class="read-more u-syndication">{{ page.mf-like-of }}</a></p>
    {% elsif page.mf-bookmark-of %}
    <p><a href="{{ page.mf-bookmark-of }}" class="read-more u-syndication">Originele link</a></p>
    {% elsif page.mf-syndication %}
    <p><a href="{{ page.mf-syndication }}" class="read-more u-syndication">Check op Instagram</a></p>
    {% elsif page.mf-mp-slug %}
    {% else %}
    {% endif %}
  </div>


  <div id="page-navigation">
      <div class="previous">
  {% if page.previous.url %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post:
  {{page.previous.title}}">Vorige</a>
  {% endif %}
      </div>

      <div class="next">
  {% if page.next.url %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post:
  {{page.next.title}}">Volgende</a>
  {% endif %}
      </div>
  </div>

  {% include webmentions.html %}
</article>
