---
layout: default
---
<article class="post h-entry">
  {% if page.header %}
  <img src="{{ site.url }}{{site.imageurl}}{{ page.header}}">
  {% endif  %}
  {% case page.title %}
  {% when not '' %}
    {% if page.link %}
      <h1 class="entry-title p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink u-url u-uid" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h1>
    {% elsif page.mf-bookmark-of%}
      <h1 class="entry-title p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink u-url u-uid" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.mf-bookmark-of }}">{{ page.title }}</a></h1>
    {% else %}
      <h1 class="entry-title p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink u-url u-uid">{{ page.title }}</a></h1>
    {% endif%}
  {% else %}
    {% if page.mf-like-of %}
      <p>⭐ <a href="{{ page.mf-like-of }}" class="read-more u-syndication u-url u-uid">{{ page.mf-like-of }}</a></p>
    {% elsif page.mf-in-reply-to %}
      <h2><a href="{{ site.baseurl }}{{ page.url }}" class="p-name u-url u-uid">{{page.excerpt | strip_html |truncatewords: 4}}</a></h2>
      <span class="in-reply-to">Mijn antwoord op: <a href="{{ page.mf-in-reply-to }}" class="u-syndication">{{ page.mf-in-reply-to }}</a></span>
    {% else %}
      <h1><a class="permalink u-url u-uid" href="{{ site.url }}{{ page.url }}">Niets: {{content | strip_html |truncatewords: 4}}</a></h1>
  {% endif %}
{% endcase %}

  {% include post/meta.html %}
  <div class="entry e-content">
    {{ content }}

    {% if page.link %}
      <i class="fa fa-link"></i>: <a href="{{ page.link }}" class="permalink" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
    {% elsif page.mf-in-reply-to %}
      <a href="{{ page.mf-in-reply-to }}" class="read-more u-syndication">Originele link</a>
    {% endif %}
  </div>
  <div class="h-card" style="display: none;">
    <span class=" dt-published">{{page.date}}</span>
    <img class="u-photo" src="{{site.url}}{{site.avatar}}" alt="Avatar Frank Meeuwsen" />
    <a class="p-author" rel="author" href="{{site.url}}">{{site.author}}</a>
    <a class="u-url u-uid" rel="me" href="{{site.url}}{{page.url}}">{{site.name}}</a>
    <a class="u-email" rel="me" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="p-note">{{site.words}}</p>
  </div>  
</article>

  <div id="page-navigation">
      <div class="previous">
  {% if page.previous.url %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post:
  {{page.previous.title}}">Vorige</a>
  {% endif %}
      </div>

      <div class="next">
  {% if page.next.url %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post:
  {{page.next.title}}">Volgende</a>
  {% endif %}
      </div>
  </div>

{% include webmentions.html %}

