---
layout: default
---
{% if page.header %}
<img src="{{ site.url }}{{site.imageurl}}{{ page.header}}">
{% endif  %}
<article class="post h-entry">
  {% if page.link %}
  <h1 class="p-name"><a href="{{ site.url }}{{ page.url }}" class="permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h1>

  {% else %}
                  <h1 class="p-name"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
  {% endif %}

  {% include post/meta.html %}

  <div class="entry e-content">
    {{ content }}

    {% if page.link %}
      <i class="fa fa-link"></i>: <a href="{{ page.link }}" class="permalink" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a>
    {% endif %}
  </div>

  <div id="page-navigation">
      <div class="previous">
  {% if page.previous.url %}
        <a href="{{ site.baseurl }}{{ page.previous.url }}" title="Previous Post:
  {{page.previous.title}}">Vorige</a>
  {% endif %}
      </div>

      <div class="next">
  {% if page.next.url %}
        <a href="{{ site.baseurl }}{{ page.next.url }}" title="next Post:
  {{page.next.title}}">Volgende</a>
  {% endif %}
      </div>
  </div>
{% if page.syndication %}
<a href="https://news.indieweb.org/nl" class="u-syndication"></a>
{% endif %}

{% include webmentions.html %}

</article>
